<?xml version="1.0"?>
<model>
  <name>iris_ftc</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 FTC INDI SITL</name>
  </author>
  <description>Lightweight Gazebo Harmonic model for reproducing the Gazebo Classic Iris FTC INDI experiments.</description>
</model>
